/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {

    width:752px;
    font-family: Arial;
    font-size: 12px;
    color: #5b5e5e;
    line-height: 1.7em;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
h2 {
    color: #3f4317;
    font-family: "Trebuchet MS";
    font-size:19px;
}
a {
    color: #3d4100;
}
#controls a{
    margin:25px 0 25px 0;
}
#prev {float:left;}
#prev img {display: block;}
#next, #nextDisabled {float: right;}
#next img { display: block;}
#register_form {
    margin-left: 115px;
    margin-top: 25px;
}
input, textarea {
    background: url(../assets/whitepixel.gif) repeat-x top #f5f5f5;;
}
input[type="text"] {
    width: 200px;
    height: 30px;
    border: 1px solid #cdcdcd;
}
textarea {
    border: 1px solid #cdcdcd;
}
input#step3DateOfBirth,
input#step3City,
input#step3Province,
input#step3PostalCode,
input#step5HomeTelephone1,
input#step5AlternateTelephone1,
input#step5HomeTelephone2,
input#step5AlternateTelephone2
{
    width:160px;
}
input#step3Address1, input#step3Address2 {
    width: 280px;
}

input[type="radio"]{
    position:relative;
    top:2px;
}
input[type="checkbox"]{
    position:relative;
    top:2px;
}
#register_form, #slider {
    position: relative;
    width:645px;
}
#register_instructions {
    margin-bottom:50px;
}
.step {
    width:100%;
    list-style-type: none;
}
.step p {
    margin: 5px 0 10px 0;
}
.stepName, .stepCount, h1 {
    color: #3f4317;
    font-family: "Trebuchet MS";
    font-size:23px;
}
.stepCount {
    float:right;
}
.agegroup {
    font-weight: normal !important;
    font-family: Arial;
    color: #5b5e5e;
    font-size: 12px;
}
#step1 div {
    padding: 15px 0 15px 0;
    margin: 15px 0 15px 0;
}
#step1Section1 {
    border-top: 1px dotted #c4c4c4;
}
#step1Section1 span, #step1Section2 span,#step1Section3 span, #step1Section4 span, #step1Section5 span {
    font-weight: bold;
}
#step1Section1 input, #step1Section2 input, #step1Section3 input, #step1Section5 input   {
    margin-left:80px;
    margin-top:15px;
    margin-right: 5px;
}
#step1Section4 input {
    margin:10px 10px 10px 0;
}
input.startrow {
    margin-left:0px !important;
}
#step1Section2 {
    border-top: 1px solid #c4c4c4;
}
#step1Section3 {
     border-top: 1px solid #c4c4c4;
 }
#step1Section3 label {
    display: block;
}
#step1Section4 {
    border-top: 1px solid #c4c4c4;
}
#step1Section5 .dottedBorder,
#step2 .dottedBorder,
#step3 .dottedBorder,
#step4 .dottedBorder,
#step5 .dottedBorder,
#step6 .dottedBorder {
    padding-bottom: 0;
    margin-bottom: 0;
    height: 1px;
    width:100%;
    border-top: 1px dotted #c4c4c4;
}
#step2 .dottedBorder,
#step3 .dottedBorder,
#step4 .dottedBorder,
#step5 .dottedBorder,
#step6 .dottedBorder  {
    margin-bottom: 15px;
    margin-top: 15px;
    display: block;
}
#step2 h1 {
    font-weight: normal;
    font-size: 18px;
}
#step2 h2 {
    font-weight: normal;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 14px;
}

#step2 div {
    font-weight: bold;
    display: none;
    border-bottom: 1px dotted #c4c4c4;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
#step2 label {

}
#step2 select {
    margin:10px 0 0 10px;
}
#step3 input, #step4 input, #step5 input {
    margin: 10px 5px 10px 10px;
}

.solidBorder {
    margin-bottom: 15px;
    margin-top: 15px;
    display: block;
    height: 1px;
    width:100%;
    border-top: 1px solid #c4c4c4;
}
#step4 textarea, #step5 textarea {
    width:288px;
    height:133px;
    resize: none;
    margin-top: 10px;
    margin-right:20px;
    margin-bottom: 10px;
}
#step4MedicationsTaken {
    width:600px;
}
#errors {
     display: none;
}
#errorsList {
    display: none;
}
#step1Section5 {
    display: none;
}
.warning-box {
    margin: 10px 0 0 0;
    padding: 15px 15px 20px 50px;
    font-size: 1.2em;
    background: #FFF2BF url(../assets/warning_icon.png) no-repeat 10px 15px;
    border: 1px solid #D7C993;
    color: #A48200;
}
#submit {
    margin-top: 30px;
    margin-left:250px;
    cursor: pointer;
    border:none;
    text-indent:11111px;
    width:92px;
    height: 30px;
    background: url(../assets/ccr_submit.jpg) no-repeat;
}
.step6info {
    min-height: 50px;
}
#step6 h3 {
    display: inline;
    font-family: "Trebuchet MS";
    font-size: 17px;
    color:#3f4317;
    padding-right: 10px;
}
#step6 .editLink {
    cursor: pointer;
}
.sessionHeader {
    font-family: "Trebuchet MS";
    font-size: 15px;
    color: #3F4317;
}